header {
    display: flex;
    height: 100px;
    left: 0px;
    top: 0px;
    width: 1440px;
    padding: 0 80px;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    display: block;
}

.NavLinks {
    margin-left: 26px;
    text-decoration: none;
    color: #636363;
}